<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>FDCS BUAP</name>

<description>
Aplicación de la Facultad de Derecho y Ciencias Sociales de la BUAP.
</description>

<author href="https://www.itic.com.mx" email="ecortes@itic.com.mx">
Erick Cortés Roque - itic Tu Apoyo Tecnológico
</author>

</widget>
