<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.mx.itic.fdcs"
    version   = "1.0.0">

<name>FDCS BUAP</name>
<icon src="res/icon.png" />
<gap:splash src="img/smartcard_banner_vert.jpg" />

<uses-permission android:name="android.permission.INTERNET"/>

</feature>
<description>
Aplicación de la Facultad de Derecho y Ciencias Sociales de la BUAP.
</description>
<preference name="fullscreen" value="false" />
<preference name="permissions" value="all" />


<author href="https://www.itic.com.mx" email="ecortes@itic.com.mx">
Erick Cortés Roque
</author>

</widget>
